*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

nav{
    cursor: pointer;
    height: 100px;
    background-color: white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../TheNorthFace/images/Logo-North-Face.png);
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 130px;
}

.contenedor_entradas{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

li{
    list-style: none;
    color: black;
    margin-right: 20px;
    margin-top: 38px;
}

li:hover{
    color:rgb(209, 100, 100);
}

li:nth-child(1){
    margin-left: 15%;
}

nav div{
    margin-right: 40px;
    margin-top: 20px;

}

nav input{
    padding: 8px;
    width: 200px;
}

div#oferta{
    display: flex;
    height: 30px;
    background-color: rgb(0,0,0);
    justify-content: center;
    align-items: center;
    padding: 3px;
    color:white;
    
}

div#dosFotos{
    display: flex;
    height: 560px;
}

div.cajaFoto{
    height: 100%;
    width: 100%;
}

div.cajaFoto img{
    height: 560px;
    width: 100%;
}

div#cajaTexto{
    position: absolute;
    top: 50%;
    left: 5%;
}

#cajaTexto h2{
    margin-bottom: 8px;
    font-size: 50px;
    color:white;

}

#cajaTexto button{
    display: block;
    margin: 3px;
    padding: 10px;
    width: 200px;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    color: black;
    border:none;
    font-size: small;
}
#cajaTexto button:nth-child(2):hover,
#cajaTexto button:nth-child(3):hover
{
    background: black;
    color:white;
}
#cajaTexto button:nth-child(4){
    background: none;
    font-weight: bold ;
    text-decoration: underline;
    color:white;
}

div#logoYFoto{
    display: flex;
    height: 350px;
    color:black;
    overflow: hidden;
    background-color: white;
}

div#izquierda{
    height: 100%;
    width:80%;
    padding-top: 40px;
    font-weight: bold;
    
}
div#imagenParacaidas{
    height: 100%;
    width: 120%;
}

div#imagenParacaidas img{
    height:85%;
    width: 100%;
    margin: 30px;
}

div#imagenLogo img{
    height: 120px;
    margin-left: 25%;
    margin-bottom: 10px;
}

#izquierda div:nth-child(2){
    width: 70%;
    margin-left: 25%;
}

#izquierda p, span{
    color: black;
    margin-top: 10px;
    line-height: 20px;
}
#izquierda p:nth-child(4), 
#izquierda span:nth-child(4){
    font-weight: normal;
    font-size: small;
    
}
#izquierda span{
    text-decoration: underline;
}

#izquierda button{
    margin: 3px;
    padding: 10px;
    border-radius: 2px;
    border: 1px double black;
    color: black;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    
}

#izquierda button:nth-child(2){
    background-color: black;
    color: white;
}

#izquierda button:nth-child(2):hover{
    background-color: rgba(57, 54, 54, 0.795);
    color: white;
}

#izquierda button:nth-child(3):hover{
    background-color: black;
    color: white;
}

#fotoLarga {
    position: relative;
    cursor: pointer;
}
#fotoLarga_foto img{
    height: 100%;
    width: 100%;
}

div#fotoLarga_texto{
    position: absolute;
    left: 8%;
    bottom: 30%;
}

div#fotoLarga_texto h2{
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-bottom:15px;
}

div#fotoLarga_texto button{
    cursor: pointer;
    display: block;
    margin: 3px;
    padding: 10px;
    border-radius: 2px;
    width: 240px;
    border: none;
    background-color: white;
}

#fotoLarga_texto button:hover{
    background-color: black;
    color: white;
}

div#dosFotosYdosbloques{
    cursor: pointer;
    display: flex;
    height: 100%;
}
.dosFotosYdosbloques_contenedor{
    position: relative;
    padding-top: 20px;   
}

.dosFotosYdosbloques_contenedor img{
    width: 100%;
}

#primerBloque,
#segundoBloque{
    position: absolute;
    left: 95px;
    bottom: 60px;

}

#blanco{
    color:white;
}

.contenedor_texto button{
    cursor: pointer;
    display: block;
}
#primerBloque h2{
    margin-bottom: 10px;
    width: 60%;
    font-size: 25px;
}
#primerBloque button{
    margin: 3px;
    padding: 10px;
    width: 240px;
    border-radius: 2px;
    border: none;
}

#primerBloque button:hover{
    background-color: black;
    color: white;
}
#segundoBloque h2{
    width: 40%;
    font-size: 25px;
}
#segundoBloque button{
    margin: 3px;
    padding: 10px;
    width: 380px;
    border-radius: 2px;
    border: none;
    background-color: black;
    color: white;
}

#segundoBloque button:hover{
    background-color: rgba(57, 54, 54, 0.795);
}

#seccionCartas{
    display: flex;
    height: 100%;
    border-bottom: solid rgb(131, 120, 120) 1px;
    cursor: pointer;
}

.cartasImagenes{
    display: flex;
    height: 100%;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

div.cartasImagenes button{
    position: absolute;
    margin: 3px;
    padding: 10px 30px;
    width:fit-content;
    top: 90%;
    background:none;
    border: double black 1px;

}

div.cartasImagenes button:hover{
    background-color: black;
    color: white;
}

.cartasImagenes img{
    width: 100%;
    margin-bottom: 90px;
}

#tituloCartas{
    height: 200px;
    width: 100%;

}

#tituloCartas h2{
    display: flex;
    color: black;
    font-size: 28px;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

table{
    width: 80%;
    text-align: left;
    margin: 50px 400px 0px 150px;
}

td, th{
    cursor: pointer;
    font-size: 13px;
    padding: 5px 0px;
}

td:hover{
    color:rgb(209, 100, 100);
}